<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/user_layout}"
      layout:fragment="Content"
>
<head>
    <title>테스트 페이지!!</title>

    <!-- inline CSS 영역-->
    <style th:inline="css" type="text/css">
	        body {
	            margin: 30px;
	            border: 1px solid red;
	        }
	    </style>

    <!-- inline JS 영역-->
    <script th:inline="javascript" type="text/javascript">
	        $(document).ready(() => {
	            alert("페이지가 시작됩니다.")
	        });
	    </script>
</head>

<body>
<p th:text="${hello}">message</p>
<div>
    <h1>웰컴 페이지 입니다.</h1>
    <form action="save2">
        <input type = "text" id ="mem_id" name = "mem_id">
        <input type = "hidden" id ="mem_token" name = "mem_token" value="USER_ROLE">
        <input type = "hidden" id ="mem_auth" name = "mem_auth" value="1">
        <input type="submit" value="전송">
    </form>
</div>
</body>
</html>